* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', sans-serif;
}

body {
  background: #6e8dcd;
  color: #1f2933;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  padding: 20px 10%;
  background: white;
  box-shadow: 0 4px 15px rgba(0,0,0,0.1);
}

.navbar h2 {
  color: #4f46e5;
}

.navbar a {
  margin-left: 20px;
  text-decoration: none;
  color: #333;
  font-weight: 500;
}

.navbar a:hover {
  color: #4f46e5;
}

/* Hero */
.hero {
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: linear-gradient(135deg, #4f46e5, #22c55e);
  color: white;
}

.hero span {
  color: #ffe600;
}

.btn {
  margin-top: 25px;
  padding: 12px 28px;
  background: white;
  color: #4f46e5;
  text-decoration: none;
  border-radius: 30px;
  font-weight: bold;
  transition: 0.3s;
}

.btn:hover {
  background: #111;
  color: white;
}

/* Sections */
.section {
  padding: 70px 10%;
}

.section h2 {
  text-align: center;
  margin-bottom: 30px;
  color: #4f46e5;
}

.bg {
  background: #ffffff;
}

/* Skills */
.skills {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: center;
}

.skills span {
  background: #4f46e5;
  color: white;
  padding: 10px 20px;
  border-radius: 25px;
  font-size: 14px;
  transition: 0.3s;
}

.skills span:hover {
  background: #22c55e;
}

/* Project */
.project-card {
  background: white;
  padding: 25px;
  border-radius: 12px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.1);
  max-width: 600px;
  margin: auto;
  text-align: center;
}

.project-card a {
  display: inline-block;
  margin: 10px;
  text-decoration: none;
  color: white;
  background: #4f46e5;
  padding: 10px 20px;
  border-radius: 6px;
  transition: 0.3s;
}

.project-card a:hover {
  background: #22c55e;
}

/* Contact */
#contact p {
  text-align: center;
  font-size: 18px;
}

/* Footer */
footer {
  text-align: center;
  padding: 20px;
  background: #111;
  color: white;
}